<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
	  	<title>Popular Food Trucks SF</title>
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	  	<link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon-16x16.png" sizes="16x16" />

		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
		<link href="{{STATIC_URL}}css/4-col-portfolio.css"

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
	</head>

	<body>
		<div class="container">
			<img src="{{STATIC_URL}}img/{{img_src}}" alt="">
		</div>
	</body>
</html>
